@import url('https://use.typekit.net/arp7xal.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a{
  cursor: none;
}

button{
  font-size: 18px;
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

::selection{
  background: #f9ac79;
  color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  cursor: none ;
  position: relative;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -1px;
}

/* Custom Styles */
main {
  display: flex;
  position: relative;
  font-family: 'Proxima-Nova';
}

.fixed-side-bar > div {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  padding-bottom: 40px;
  padding-top: 10px;
  border-right: 1px solid #00000014;
}

.scrollable-main {
  width: 100%;
}

#web, #social, #print, #brand, #extra{
    scroll-margin-top: 100px;
}

.fixed-side-bar{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
}

.logo {
  width: 115px;
  height: 90px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 40px;
  position: relative;
  background-image: url('/bg-main.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-profile-row{
  display: flex;
}

.hero-profile-row > div:nth-child(1)  {
  width: 50%;
  height: fit-content;
  color: #ed7d31;
  font-size: 24px;
  display: flex;
  gap: 30px;
  position: relative;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.hero-profile-row  > div:nth-child(2) {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.hero-nav-row{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
  margin-bottom: auto;
}

.flip-word-heading{
  color: #ed7d31;
  font-size: 80px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 10px;
}

.flip-word-sub-heading{
  color: #ed7d31;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  
}

.fade-out{
  opacity: 0;
  transition: all 0.8s linear;
}

.profile-name {
  position: absolute;
  right: 0px;
  top: 30px;
}

.profile-name > span {
  display: block;
  line-height: 20px;
}

.profile-name-design {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-name-design > .round div {
  width: 24px;
  height: 24px;
  background-color: #ed7d31;
  border-radius: 50%;
}

.profile-name-design > .line {
  width: 100%;
  height: 2px;
  background-color: #ed7d31;
}

.lets-connect-col-2 .profile-name-design > .line{
  width: 150px;
}

.profile-name-design > div:nth-child(3) {
  width: 24px;
  height: 24px;
  border-top: 2px #ed7d31 solid;
  border-left: 2px #ed7d31 solid;
}

.portfolio-title {
  color: #ed7d31;
  font-size: 70px;
  line-height: 70px;
  font-weight: 800;
  text-align: left;
  margin-left: 20px;
}

.portfolio-title-design {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 20px;
  position: relative;
}

.portfolio-title-design > div:nth-child(1),
.portfolio-title-design > div:nth-child(3) {
  width: 2px;
  height: 24px;
  background-color: #ed7d31;
}

.portfolio-title-design > div:nth-child(2) {
  width: 951px;
  height: 2px;
  background-color: #ed7d31;
}

.portfolio-timeline {
  color: #ed7d31;
  font-size: 14px;
  width: 100%;
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  letter-spacing: 0.5px;
  padding: 0px 30px;
}

.navigation {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ed7d31;
  cursor: none;
}

.navigation a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation div {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation div img {
  width: 35px;
  height: 35px;
  rotate: 180deg;
}

.project-navigation {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ed7d31;
  position: absolute;
  top: 100%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: none;
}

.project-navigation a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-navigation div {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-navigation div img {
  width: 35px;
  height: 35px;
  rotate: 90deg;
}

.index-container {
  height: 100vh;
  padding: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.index-container img {
  width: 80px;
  height: 80px;
}

.index-container p {
  text-align: center;
  margin-top: 10px;
  /* color: #ed7d31; */
}

.intro-container {
  display: flex;
}

.intro-profile {
  padding: 50px;
  /* border-right: 1px solid #00000014; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100%;
  font-weight: 800;
  letter-spacing: 0px;
}

.profile-pic {
  width: 250px;
  height: 250px;
}

.intro-profile-name {
  text-align: center;
  color: #ed7d31;
  font-size: 28px;
  margin-top: 20px;
}

.age {
  font-size: 18px;
  text-align: center;
}

.link {
  width: 50px;
  height: 50px;
  background-color: #ed7d31;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links .link img {
  filter: invert(100%);
  cursor: none;
}

.social-links .link img.facebook-icon {
  width: 16px; 
  height: 16px; 
}

.social-links .link img.behance-icon {
  width: 20px; 
  height: 20px; 
}

.social-links .link img.linkedin-icon {
  width: 20px; 
  height: 20px; 
}

.social-links .link img.instagram-icon {
  width: 20px; 
  height: 20px; 
}

.social-links .link img:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease; 
}

.divider {
  width: 100px;
  height: 1px;
  border: 1px solid #00000014;
  margin: 30px 0px;
}

.phone {
  margin-top: 20px;
}

.phone,
.email {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}

.website {
  font-size: 24px;
  font-weight: bold;
  color: #ed7d31;
}

.website:hover {
  text-decoration: underline;
}

.career-section {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #00000014;
  border-left: 1px solid #00000014;
  padding: 20px 0px;
}

.training-section {
  display: flex;
  width: 100%;
  border-left: 1px solid #00000014;
  padding: 20px 0px;
  /* border-bottom: 1px solid #00000014; */
}

.intro-details {
  width: 100%;
  font-weight: 800;
  letter-spacing: 0px;
}

.summary {
  width: 25%;
  padding: 20px 50px;
  color: #ed7d31;
}

.summary-heading {
  font-size: 28px;
  color: #ed7d31;
  margin-bottom: 20px;
  line-height: 32px;
}

.flow-chart {
  width: 75%;
  padding: 20px 50px;
}

.summary-desc {
  font-size: 16px;
  color: #404040;
  font-size: 18px;
  font-weight: 400;
}

.summary-desc span {
  color: #ed7d31;
  font-weight: bold;
}

.flow-chart-card {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.flow-chart-year {
  background-color: #ed7d31;
  color: white;
  padding: 5px 25px;
  margin-top: 8px;
}

.flow-chart-num {
  color: #ededed;
  font-weight: bolder;
  font-size: 50px;
  line-height: 54px;
}

.flow-chart-card-details {
  font-size: 18px;
  margin-left: 20px;
}

.flow-chart-card-details h3 {
  color: #ed7d31;
  margin-left: -18px;
}

.flow-chart-card-details h3 span {
  font-size: 14px;
  margin-left: 10px;
  margin-top: -5px;
}

.flow-chart-card-details p {
  font-size: 15px;
  color: #7f7f7f;
  line-height: 10px;
  margin-left: -18px;
}

.flow-chart-card-details ul {
  margin-top: 15px;
  list-style: unset;
}

.decor {
  height: 100%;
  display: flex;
  justify-content: center;
}

.decor > div {
  width: 2px;
  background-color: #ed7d31;
  margin: 20px 0px;
}

.flow-chart-card-column-1 {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
}

thead th {
  border-bottom: 4px solid white;
}

th,
td {
  text-align: left;
  padding: 10px 20px;
  border: 2px solid white;
}

th {
  background-color: #ed7d31;
  color: white;
  font-weight: bold;
}

tbody {
  font-size: 16px;
  font-weight: 400;
}

tr:nth-child(even) {
  background: linear-gradient(135deg, #fffaf6 0%, #f9fbff 50%);
}

tr:nth-child(odd) {
  background: linear-gradient(135deg, #fffaf6 0%, #f9fbff 50%);
}

.skill-set {
  padding: 0px 50px;
  padding-bottom: 50px;
  border-left: 1px solid #00000014;
}

.skill-set h2 {
  font-size: 28px;
  color: #ed7d31;
  margin-bottom: 20px;
}

.projects-section {
  font-weight: 800;
  letter-spacing: 0px;
}

.projects-section h2 {
  color: #ed7d31;
  font-size: 30px;
  font-weight: 800;
}

.projects-showcase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0px 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #00000014;
}

.project-image {
  width: 100%;
}

.project-image-container {
  position: relative;
}

.project-details {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details a {
  font-size: 18px;
  color: #ed7d31;
}

.project-details a:hover {
  text-decoration: underline;
}

.project-details p {
  line-height: 20px;
  font-weight: 400;
}

.project-title {
  font-size: 18px;
}

.project-brief {
  font-size: 18px;
  color: #7f7f7f;
}

.project-category {
  color: #ed7d31;
  text-decoration: underline;
  margin-top: 10px;
}

.projets-main-heading {
  padding: 30px 50px;
  background-color: white;
  z-index: 100;
  position: sticky;
  top: 0;
  border-top: 1px solid #00000014;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 30px;
}

.resume-download{
  background-color: #ed7d31;
  color: white;
  padding: 10px 25px;
  border-radius: 60px;
  font-weight: 500;
  cursor: none;
  width: 250px;
}

.resume-text{
  margin-left: auto;
  color: #7F7F7F;
  font-weight: 500;
}

.social-projects-showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px 50px;
    border-bottom: 1px solid #00000014;
}

.print-projects-showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px 50px;
    border-bottom: 1px solid #00000014;
}

.brand-projects-showcase{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px 50px;
    border-bottom: 1px solid #00000014;
}

.brand-projects-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 50px 50px;
}

.packaging-projects-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 50px 50px;
}

.social-projects-showcase img {
  width: 100%;
}

.print-projects-showcase img {
  width: 100%;
}

.brand-projects-showcase img {
  width: 100%;
}

.packaging-projects-showcase img {
  width: 100%;
}

.side-bar-dynamic-name {
  rotate: -90deg;
  font-size: 50px;
  color: #ed7d31;
  font-weight: 800;
  text-wrap: nowrap;
}

.thankyou-section {
  height: 100vh;
  border-top: 1px solid #00000014;
  background-color: #d0d8ea;
  background-image: url('/thank-you-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thankyou-section h2 {
  font-size: 150px;
  line-height: 120px;
  text-align: center;
  color: #ed7d31;
  font-weight: 900;
}

.thankyou-section img {
  width: 180px;
  margin-top: 70px;
}

.thankyou-section p {
  font-size: 16px;
  font-weight: 600;
  font-family: Proxima Nova;
  letter-spacing: 0px;
}

.thankyou-details {
  display: flex;
  gap: 50px;
  margin-top: 80px;
}
li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

.custom-hr {
  border: none;
  height: 1px;
  background-color: #ebebeb;
  margin: 50px 0;
}

.index-container-heading{
  color: #ed7d31;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  padding: 0% 10%;
}

.index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 30px;
}

.creative-section{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-top: 1px solid #00000014; */
}

.creative-section-sub-heading{
  font-size: 20px;
  color: #ed7d31;
  text-align: center;
}

.creative-section-heading{
  font-size: 150px;
  line-height: 120px;
  color: #ed7d31;
  text-align: center;
  font-weight: 400;
}

.container-scroll-row{
  margin-top: -100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  perspective: 1000px;
}

.box-slides{
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.26, 0.39, 0.55, 0.86);
}

.box-slides img{
  border-radius: 10px;
}

.end-cards-section{

  padding: 50px;
  width: 100%;
}

.end-cards-section > div:first-child{
  background-color: #ed7d31;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  color: white;
  gap: 30px;
}

.end-cards-heading{
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 100;
  line-height: 40px;
}

.end-cards-heading span{
  display: block;
}

.end-cards-heading span::selection{
  background: none;
  color: black;
}

.end-cards-content{
  font-size: 18px;
}

.end-cards-content::selection{
  background: none;
  color: black;
}

.end-card{
  padding: 0px 30px;
}

.cookie-consent{
  padding: 35px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: white;
  display: flex;
  gap: 50px;
  border-radius: 10px;
  max-width: 500px;
  z-index: 1000;
}

.cookie-consent button{
  border: 1px solid #ed7d31;
  border-radius: 60px;
  padding: 10px 25px;
  width: 100px;
  position: relative;
  overflow: hidden;
  cursor: none;
  height: 50px;
}

.btn-ani-bg{
  background-color: black;
  border-radius: 60px;
  padding: 10px 25px;
  width: 100px;
  position: absolute;
  right: 100%;
  top: 0px;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.26, 0.39, 0.55, 0.86);
}

.cookie-consent button:hover .btn-ani-bg{
  right: 0;
}

.btn-text{
  position: relative;
  z-index: 10;
  transition: color 0.8s cubic-bezier(0.26, 0.39, 0.55, 0.86);
  font-size: 18px;
}

.cookie-consent button:hover .btn-text{
  color: white;
}

#magic-cursor {
  position: absolute;
  /* width: 30px;
  height: 30px; */
  pointer-events: none;
  z-index: 1000000;
}

#ball {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid #ed7d31;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  transition: width 0.3s linear, height 0.3s linear;
}

#dot {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #ed7d31;
  border-radius: 50%;
  pointer-events: none;
  opacity: 1;
  transition: width 0.3s linear, height 0.3s linear;
}

.flip-word-content{
  font-size: 18px;
  padding-right: 30%;
  margin-bottom: 10px;
  color: #404040;
}

.flip-word-col{
  width: 50%;
}

.index-container-content{
  font-size: 20px;
  padding: 0% 30%;
  color: #404040;
  margin-bottom: 50px;
}

.index-container-buttons{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.index-container-buttons > button:nth-child(1){
  background-color: #E4E8F2;
  padding: 12px 30px;
  border-radius: 60px;
  width: 200px;
}

.index-container-buttons a button{
  background-color: #ed7d31;
  padding: 12px 30px;
  border-radius: 60px;
  color: white;
  width: 200px;
}

.lets-connect-container{
  height: 100vh;
  padding: 50px;
  display: flex;
  border-top: 1px solid #00000014;
  background-image: url(/thank-you-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.lets-connect-container > div{
  width: 100%;
  display: flex;
  gap: 30px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.lets-connect-col-1{
  width: 40%;
  color: #ed7d31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.lets-connect-col-1 h2{
  font-size: 100px;
  line-height: 90px;
  font-weight: 700;
  margin-bottom: 10px;
}

.lets-connect-col-1 p{
  font-size: 18px;
  color: #404040;
  margin-bottom: 10px;
}

.lets-connect-col-1 .first{
  color: #ed7d31;
}

.lets-connect-col-1 .last{
  color: #ed7d31;
  font-size: 25px;
  font-weight: 500;
}

.lets-connect-col-2{
   width: 15%;
  padding-top: 10px;
}

.lets-connect-col-3{
   width: 30%;
}

form{
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

form input{
  padding: 15px 25px;
  background-color: #EFF1F7;
  color: black;
  margin-bottom: 10px;
  font-size: 16px;
}

form input::placeholder{
  color: black;
}

form textarea{
  padding: 15px 25px;
  background-color: #EFF1F7;
  font-size: 16px;
}

form textarea::placeholder{
  color: black;
}

form button{
  padding: 10px 25px;
  background-color: #ed7d31;
  border-radius: 60px;
  margin-top: 20px;
  width: 60%;
  color: white;
}

.strip-slide-up {
  opacity: 0;
}

.strip {
  opacity: 0;
}

.strip-slide-up {
  opacity: 0;
}

.strip span {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
  transform: translate(20%, 100%);
  position: relative;
  z-index: 1;
  letter-spacing: -0.03em;
  /* text-shadow: 3px 4px 0 rgba(0, 0, 0, .1); */
  color: white;
}

.strip-slide-up span {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
  transform: translate(20%, 100%);
  position: relative;
  z-index: 1;
  letter-spacing: -0.03em;
  /* text-shadow: 3px 4px 0 rgba(0, 0, 0, .1); */
  /* color: var(--primary-color); */
}

.strip span:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-40%);
  transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
}

.strip-slide-up span:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-40%);
  transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
}

.strip span.row {
  overflow: hidden;
  line-height: 0.9;
  display: inline-block;
  transform: none;
}

.strip-slide-up span.row {
  overflow: hidden;
  line-height: 1.13;
  display: inline-block;
  transform: none;
}

.strip span.row:before {
  display: none;
}

.strip-slide-up span.row:before {
  display: none;
}

.letter-slide-animate {
  transform: translate(0, 0) !important;
}

.letter-slide-animate:before {
  transform: translateY(100%);
}

.strip-slide-black span {
  color: black !important;
}

.strip-slide-grey span {
  color: #404040 !important;
}

.strip-slide-green span {
  color: var(--primary-color);
}

.strip-slide-white span {
  color: white;
}

.fadeIn {
  opacity: 1;
}

body.custom-cursor{
  cursor: url("/nav.svg") 15 15, auto;
}

body.custom-cursor #magic-cursor #ball {
  width: 150px;
  height: 150px;
  background-color: #ed7d31;
  transition: width 0.3s linear, height 0.3s linear;
}

body.custom-cursor #magic-cursor #dot {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
  transition: width 0.3s linear, height 0.3s linear;
}